.aboutpage {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include mobile {
            flex-direction: column;
        }
        
        &:not(:last-child) {
            margin: 0px 0px 100px;

            @include mobile {
                margin: 0px 0px 40px;
            }
        }

        &__col {
            flex-direction: column;
        }
    }

    &-imgs {
        flex: 0 0 58%;
        position: relative;

        @include mobile {
            order: 2;
        }

        img {
            border-radius: 16px;
            object-fit: cover;
            object-position: center;

            &:first-child:nth-last-child(1) {
                width: 100%;
                height: 440px;

                @include mobile {
                    height: 240px;
                }
            }

            &:not(:first-child:nth-last-child(1)) {
                width: calc(100% - 100px);
                height: 420px;
                margin-left: auto;

                @include mobile {
                    width: calc(100% - 24px);
                    height: 270px;
                }
            }

            &:nth-child(2) {
                position: absolute;
                width: 280px !important;
                height: 250px !important;
                bottom: -40px;
                left: 0;
                z-index: 2;
                border: 10px solid #fff;

                @include mobile {
                    width: 160px !important;
                    height: 170px !important;
                    left: -10px;
                }
            }
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 20px;

        @include mobile {
            order: 1;
            gap: 14px;
        }

        p {
            color: var(--light-gray);
        }
    }

    .gallery {
        padding: 60px 0px;

        @include mobile {
            padding: 40px 0px 60px;

            h2 {
                margin: 0px 0px 30px;
            }
        }
    }
}