.button {
    @include font(500);
    font-size: 1rem;
    cursor: pointer;
    border: none;
    display: block;
    max-width: max-content;
    background: var(--main);
    color: var(--white);
    border-radius: 100px;
    padding: 15px 24px;
    text-align: center;

    &.desktop {
        @include mobile {
            display: none;
        }
    }

    &.mobile {
        display: none;
        @include mobile {
            display: block;
            max-width: 100%;
            width: 100%;
            margin: 30px auto 0;
        }
    }
}

.slider-buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

    @include mobile {
        display: none;
    }
}

.slider-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray);
    background: url('../img/icons/slider-arrow.svg') no-repeat center;
    background-size: 24px 24px;
    border-radius: 50%;

    &-prev {
        transform: rotate(180deg);
    }

    &-disabled {
        pointer-events: none;
        opacity: .5;
    }
}

@include mobile {
    .cardview {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;

        button {
            border: none;
            background: transparent;
            width: 40px;
            height: 40px;

            svg {
                width: 40px;
                height: 40px;
                opacity: 0.6;
                pointer-events: none;

                rect.color {
                    fill: #939597;
                }
            }

            &.active {
                svg {
                    opacity: 1;

                    rect.color {
                        fill: var(--main);
                    }
                }
            }
        }
    }

    .catalogpage {
        .cardview {
            padding: 30px 0px 0px;
        }
    }
}

.gallery-button {
    cursor: pointer;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: var(--main) url('../img/icons/gallery-arrow.svg') no-repeat center;
    background-size: 24px 24px;
    border: none;

    &-prev {
        transform: rotate(180deg);
    }

    &-disabled {
        cursor: auto;
        opacity: 0.4;
    }
}