.feedback {
    padding: 45px 0px 75px;

    @include mobile {
        padding: 45px 0px 60px;
    }

    &-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        .slider-buttons {
            margin-left: auto;
        }
    }

    &-slider {
        @include mobile {
            width: 100vw;
            position: relative;
            left: -16px;
        }

        &-wrapper {
            display: flex;
            align-items: stretch;
            justify-content: start;
            gap: 30px;
            padding: 45px 0px;

            @include tablet {
                overflow: auto;
            }

            @include mobile {
                padding: 30px 16px 24px;
            }
        }

    }

    &-item {
        flex: 0 0 calc((100% - 30px) / 3);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 10px;
        color: var(--title);
        padding: 24px;
        border-radius: 16px;
        box-shadow: var(--shadow40);
        background: #fff;

        time {
            opacity: 0.6;
        }

        @include tablet {
            flex: 0 0 calc((100% - 30px) / 2)
        }

        @include mobile {
            flex: 0 0 calc(100% - (16px * 2))
        }
    }

    &-author {
        padding: 24px 0px 0px;
        margin-top: auto;
        display: grid;
        grid-template-columns: 45px 1fr;
        grid-gap: 0px 14px;

        &-img {
            grid-row-start: span 2;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }

        &-name {
            font-weight: 700;
        }

        &-profession {
            opacity: 0.6;
        }
    }

    @include mobile {
        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 16px;
        }
    }
}