.map {
    padding: 90px 0px 60px;
    background: #fff;

    @include mobile {
        padding: 60px 0px;
    }
    
    h2 {
        margin: 0px 0px 40px;

        @include mobile {
            margin: 0px 0px 18px;
        }
    }

    iframe {
        width: 100%;
        height: 520px;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
    }

}