.objects {
    padding: 40px 0px 90px;

    h2 {
        margin: 0px 0px 30px;

        @include mobile {
            margin: 0px 0px 14px;
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        @include mobile {
            margin: 0px 0px 24px;
        }
        
        .categories {
            padding: 0px 0px 20px;

            @include mobile {
                padding: 0px 0px 12px;
            }
        }
    }

    .slider-buttons {
        margin-left: auto;
    }

    &-slider {
        &-wrapper {
            display: flex;
            align-items: stretch;
            justify-content: start;
            gap: 30px;

            @media (max-width: 968px) {
                overflow-x: scroll;

                .card {
                    flex: 0 0 calc((100% / 2) - 30px);
                }
            }

            @include mobile {
                gap: 16px;
                .card {
                    flex: 0 0 calc(100% - 32px)
                }
            }
        }
    }

    &-bottom {
        margin: 40px 0px 0px;

        @include mobile {
            margin: 25px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}