.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .pagination-bullet {
        cursor: pointer;
        border: none;
        width: 8px;
        height: 8px;
        background: var(--main);
        border-radius: 100px;
        opacity: 0.4;

        &.active {
            width: 24px;
            opacity: 1;
        }
    }
}