h1, h2, h3, h4 {
    color: var(--title);
    font-family: SofiaSans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    line-height: 1.2;

    @include mobile {
        font-size: 2.125rem;
    }
}

h2 {
    font-size: 3rem;

    @include mobile {
        font-size: 1.625rem;
    }
}

h3 {
    font-size: 1.5rem;

    @include mobile {
        font-size: 1.25rem;
    }
}

h4 {
    font-size: 1.25rem;
}