:root {
    --body: #F0F2F4;
    --white: #fff;
    --black: #000;
    --main: #8B0202;
    --title: #1E2429;
    --text: #4F5860;
    --text80: #6B7279;
    --blue: #3060DC;
    --input: #312F30;
    --gray: #656565;

    --shadow40: 0px 6px 40px 0px rgba(0, 0, 0, 0.10);
}